.input__name {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: .8rem;

    .input__content {
        padding: .8rem .5rem;
        background-color: rgb(240, 234, 234);
        border: 2px solid rgb(192, 186, 186);
    }
}