.submit__button {
    width: 100%;
    display: flex;
    justify-content: flex-end;

    &-btn {
        padding: 1px 4rem;
        font-family: inherit;
        font-size: 1.1rem;
        font-weight: bold;
        background-color: rgb(202, 200, 200);
        color: rgb(82, 81, 81);
        border: 0;
        transition: all .1s;
        cursor: pointer;

        &:hover {
            background-color: darken( rgb(82, 81, 81), $amount: 1);
            color: white;
        }

        &:active {
            transform: translateY(1px);
        }
    }
}