.list__task {
    width: 100%;
    height: 55%;
    border: 1px solid  #747474;
    position: relative;

    &-container {
        position: absolute;
        width: 90%;
        height: 90%;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        display:flex;
        flex-direction: column;

        &-header {
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-bottom: .5rem;

            .inputname__container {
                display: inline-block;
                width: 45%;
            }

            .usercomplete__container {
                width: 45%;
            }
        }

        &-list {
            width: 100%;
            border: 2px solid #747474;
            height: 60%;
            margin-bottom: 1rem;
            overflow: scroll;
        }
    }
}