.select__user {
    position: relative;
    width: 50%;

    &-id {
        height: 3rem;
    }
}

#arrow_icon {
    display: inline;
    padding-bottom: .5rem;
    font-size: 2rem;
    color: #333;
}