.list__task-container-list-bar {
    display: grid; 
    grid-template-columns: 35% 25% 25% 15%;
    font-size: 1.2rem;
    margin-bottom: .5rem;

    .task__header-item {
        padding-left: 3px;
    }

    .task__header-item3,
    .task__header-item4
    {
        font-weight: normal;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .task__header-item4 {
        align-items: flex-end;
        margin-right: 1rem;

        .action {
            margin-right: 1rem;
        }
    }
}

#check__icon {
    font-size: 2.3rem;
    cursor: pointer;
}

#remove__icon,
#update__icon
 {
    font-size: 1.6rem;
    border: none;
    outline: none;
    margin: .5rem;
    cursor: pointer;
    color: grey;
    outline: none;
}
#remove__icon {
    border-radius: 50%;
}
.not__completed {
    background-color: crimson;
    font-size: 1.1rem;
    color: white;
    display: inline-block;
}