.add__task {
    position: relative;
    width: 50%;
    height: 35%;
    border: 1px solid  #747474;
    margin-top: 3rem;

    .title {
        font-weight: bold;
        font-size: 1.2rem;
        color: rgb(51, 51, 54);
        margin-bottom: 3rem;
    }

    &-container {
        position: absolute;
        width: 80%;
        height: 85%;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
    }
}