.complete__button {
    position: relative;
    width: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.switch__button {
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;

    .switch {
        position: relative;
        display: inline-block;
        width: 100%;
        margin: 0;
    }
      
    .switch input { 
        opacity: 0;
        width: 0;
        height: 0;
    }
      
    .slider {
        position: absolute;
        cursor: pointer;
        width: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }
      
    .slider:before {
        position: absolute;
        color: white;
        text-align: center;
        content: "OFF";
        width: 50%;
        left: 1px;
        top: 1px;
        right: 1px;
        bottom: 1px;
        background-color: rgb(88, 87, 87);
        -webkit-transition: .4s;
        transition: .4s;
        padding-top:1rem;
        border-radius: 3px;
    }
      
    input:checked + .slider {
        background-color: #56db5c;
    }
       
    input:checked + .slider::before {
        content:"ON";
    }
    
    input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
    }
      
    input:checked + .slider:before {
        -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
        transform: translateX(100%);
    }
}


  