.App {
    position: relative;
    width: 95%;
    min-height: 130vh;
    border: 1px solid black;
    margin: auto;

    &__content {
        position: absolute;
        top: 0;
        width: 60%;
        height: 100%;
        right: 15%;
        padding-top: 4rem;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
}